.git-local/
.git-github/
.git-global/
archives/
output/
drivers/
plugins/
tools/
*.aps
*.cache
*.config
*.db
*.dgml
*.dll
*.enc
*.exe
*.exp
BuildLog.htm
*.i
*.ii
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.lib
*.log
*.map
*.ncb
*.obj
*.opendb
*.opensdf
*.pch
*.pdb
*.psess
*.res
*.sdf
*.suo
*.swp
*.swo
*.swn
*.tlog
*.tmp
*.ubj
*.un~
*.unsuccessfulbuild
*.user
